.movie_input {
    padding: 5px 20px 5px 5px;
    margin-right: 20px;
    border-radius: 4px;
    font: inherit;
}


.movie_search_box {
    margin-left: 20px;
}

.search_btn{
    height: 25px;
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: pink;
}

.search_btn:hover{
    cursor: pointer;
    border: 1px;
}